# Dependencias
backend/node_modules/
mobile/node_modules/

# Variables de entorno
backend/.env
mobile/.env

# Expo
mobile/.expo/
mobile/.expo-shared/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
mobile.zip
.expo/
mobile/.expo/
node_modules/
.env
.env.*